body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  color: #151515;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #090909;
}
.bold {
  font-weight: 700;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 1em;
}
.logo {
  margin-right: 3px;
}
.header-left {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 1em;
  font-weight: 600;
  font-size: 1rem;
}
/* Main */
main {
  padding: 0 1em;
}
.blog-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1em;
  padding: 0.5em 0;
}
.blog-date {
  margin-top: 1.5em;
}
.blog-img {
  width: 100%;
  padding: 1.5em 0;
}

/* Footer */
footer {
  background-color: #202020;
  color: #ececec;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 700;
  padding: 1.5em 0;
}
.copyright {
  color: #d7d7d7;
  font-weight: 500;
}